# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

#evnvironment variables
.env

#built folder
built

.vscode
bodyCreateUser.json
bodySendEmail.json
bodyUploadPdf.json
