<!DOCTYPE html>
<html lang="pt-pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seja bem-vindo à Mochi Noir, Lda</title>

    <style>
        p {
            text-indent: 40px
        }

        p#cabecalho {
            text-align: center
        }
    </style>
</head>

<body>

    <p id="cabecalho"><span style="font-size: 24px">Agradecemos pela sua preferencia em escolher os nossos
            serviços</span><br> O seu fichero pdf está pronto</p><br>

    <p>Para acessar o seu ficheiro pdf, por favor clique no <strong>link</strong>abaixo.</p><br>

    <p>Preferimos envia-lo o link do ficheiro em em vez de anexa-lo para que fique claro que o ficheiro esta armazenado
        no AWS S3, além disso o email torna-se mais leve 😁.</p><br>

    <h4 style="text-indent: 40px">Dados do usuario:</h4>
    <p>Primeiro nome: {{firstName}}</p>
    <p>Apelido: {{lastName}} </p>
    <p>Registado em: {{createdAt}} </p>
    <p><strong>Link para o PDF File:</strong> {{linkToPdf}}</p>
    <br>
    <h5>
        Mochi | Comunicado
        T +244 930 869 023 | Mochi.enterprise@gmail.com
    </h5>
    Este é um email automático não responda
    <a href="Mochi.co.ao"> www.Mochi.co.ao </a>

    <div style="height: 100px">

    </div>
    <footer style="font-size:10pt; font-family:Arial">
        <span style="font-size:6pt">Antes de imprimir esta mensagem, pense no meio ambiente.
            <br>
            Esta mensagem e-mail, assim como os ficheiros eventualmente anexos, é reservada aos seus destinatários e
            pode conter informação confidencial ou estar sujeita a restrições legais. Se não é o seu destinatário ou se
            <br>
            recebeu esta mensagem por motivo de erro, solicitamos que não faça qualquer uso ou divulgação do seu
            conteúdo e proceda à eliminação permanente desta mensagem e respectivos anexos.
            <br>
        </span>
        <span style="font-size:6pt"><br>
            Mochi Noir, Lda | Sede Social: ......... | Capital Social XXXXXXXXXXXXXX AOA | Contribuinte nº
            xxxxxxxxxxxxxx</span>
    </footer>

</body>

</html>